<div
  class="min-h-screen min-w-screen pb-2 bg-gradient-to-b from-gray-900 to-blue-900"
>
  <div class="header">
    <h1 class="text-center text-6xl text-teal-400 font-extrabold">
      Tic - <span class="text-yellow-300">Tac</span> - Toe
    </h1>
    <!-- player turn -->
    <h1
      class="text-center text-orange-600 text-6xl mt-6 font-bold"
      *ngIf="!gameServices.winner"
      [ngClass]="{ 'text-teal-300': gameServices.activePlayr == 'O' }"
    >
      {{ gameServices.activePlayr }} 's Turn
    </h1>
    <!-- winner nmae -->
    <h1
      class="text-center text-red-500 text-6xl mt-6 font-semibold"
      *ngIf="gameServices.winner"
    >
      🥳 {{ gameServices.activePlayr }} Won 🥳
    </h1>
    \
    <!-- reset thegame -->

    <button
      class="hover:bg-yellow-400 bg-purple-400 text-dark font-bold py-2 px-4 rounded mx-auto block mt-2"
      *ngIf="gameServices.gameOver"
      (click)="reset()"
    >
      Reset
    </button>
  </div>
  <app-board> </app-board>
</div>
